<div id="general">
<header>
        <nav><i class="fa fa-home fa-lg" style="color: #ffffff; font-size: 40px"></i></nav>
    </header>
<div id="content">
    
    <form id="newProductForm" action="/realtimeproducts" method="POST">
        <h1>New Product. <hr></h1>
        <div class="forminput">
            <input type="text" id="title" name="title" required>
            <label for="title">Title:</label>
        </div>
    
        <div class="forminput">
            <input type="text" id="category" name="category" required>
            <label for="category">Category:</label>
        </div>

        <div class="forminput">
            <input type="text" id="description" name="description" required>
            <label for="description">Description:</label>
        </div>
        
        <div class="numero">
            <div class="forminput">
                <input type="text" id="code" name="code" required>
                <label for="code">Code:</label>
            </div>
            
            <div class="forminput">
                <input type="number" id="price" name="price" required>
                <label for="price">Price:</label>       
            </div>

            <div class="forminput">
                <input type="number" id="stock" name="stock" required>
                <label for="stock">Stock:</label>
            </div>
        </div>              
        <button type="submit" id="submit">CREATE NOW!</button>
    </form>
</div>
{{!-- LISTA DE PRODUCTOS --}}
<div class="allproducts">
{{#each products}}
<ol>
<li>
    <h3>{{this.title}}</h3>
</li>
<hr>
<li>
    <p>{{this.description}}</p>
</li>
<li>
    Code: <p>{{this.code}}</p>
    Price: <p>$ {{this.price}}</p> 
    Stock: <p>{{this.stock}}</p> 
</li>
<li>
    Category: <p>{{this.category}}</p>
    </li>
<br>
<li>
    <button onclick="deleteProduct('{{@index}}')"><i class="fa fa-trash-o"></i> DELETE PRODUCT</button>
</li>
</ol>
{{/each}}
</div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>